*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: Arial,roboto, sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}
#root{
    display: flex;
}

.App{
    width: 55%;
    margin:0 auto;
}
.menu-header{
    display:flex;
    padding: 0.8em 0 0.6em 0;
    justify-content: space-between;
}
.account{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
}
.account-username{
    font-size: 16px;
    display: flex;
    align-content: center;
    align-items: end;
}
.account-username p {
    padding-right: 5px;
}
.account-username span {
    color: #004992;
    padding-right: 10px;
    font-weight: bolder;
}
.account img{
    width: 48px;
    height: 48px;
}
.new-student{
    display:grid;
    gap: 30px;
    justify-content: left;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 20px;
}
.new-group{
    display:grid;
    gap: 30px;
    justify-content: left;
    grid-template-columns: auto auto;
    margin-bottom: 20px;

}
.input{
    padding: 1vh 3vh;
    border-radius: 1vw;
    border: solid 1px #000333;
    font-size: 16px;
}
